<mat-card>
  <div class="list-account p-3">
    <button class="btn-border color-p text-18" (click)="proceedAddNewAccount()">Add new account</button>
  </div>
  <mat-card-header>
    <h2 class="bold text-color-p mb-0">List Account</h2>
  </mat-card-header>
  <mat-card-content>
    <div class="table-responsive nft-custom-scroll">
      <table mat-table matSort [dataSource]="dataSource" class="table">
        <ng-container matColumnDef="username">
          <th *matHeaderCellDef> Username </th>
          <td *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-sort-header *matHeaderCellDef> Name </th>
          <td *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th *matHeaderCellDef> Email </th>
          <td *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th *matHeaderCellDef> Status </th>
          <td *matCellDef="let element"> {{element.isactive ?
            'Active':'In Active'}} </td>
        </ng-container>
        <ng-container matColumnDef="role">
          <th *matHeaderCellDef> Role </th>
          <td *matCellDef="let element">
            {{element.role ===''? 'Supper Admin':element.role}}
          </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th *matHeaderCellDef> Action </th>
          <td *matCellDef="let element">
            <button *ngIf="element.role !=='admin'" (click)="deleteUser(element.id)"
              class="btn-border color-p text-16 ml-8">Delete</button>
            <button (click)="proceedEditAccount(element.id)" class="btn-border color-p text-16 ml-8">Edit</button>
            <button (click)="viewOrder(element.id)" class="btn-border color-p text-16 ml-8">View Order</button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
  </mat-card-content>
</mat-card>