<form #frm1="ngForm" class="" (ngSubmit)="addOrder()">
    <div class="alert alert-success">PAYMENT ORDERS</div>
    <div class="row mb-3">
        <div class="col-md-6">
            <label>Your full name</label>
            <input [(ngModel)]="name" name="name" minlength="4" required class="form-control" #nameField="ngModel">
            <div *ngIf="nameField?.invalid && (nameField?.dirty || nameField?.touched)" class="text-danger">
                <div *ngIf="nameField?.errors?.['required']">Full name is required.</div>
                <div *ngIf="nameField?.errors?.['minlength']">Full name must have at least 4 characters.</div>
            </div>
        </div>
        <div class="col-md-6">
            <label>Your email</label>
            <input [(ngModel)]="email" name="email" type="email" required class="form-control" #emailField="ngModel">
            <div *ngIf="emailField?.invalid && (emailField?.dirty || emailField?.touched)" class="text-danger">
                <div *ngIf="emailField?.errors?.['required']">Email is required.</div>
                <div *ngIf="emailField?.errors?.['email']">Invalid email.</div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <label>Delivery address</label>
            <input [(ngModel)]="address" name="address" minlength="10" required class="form-control" #addressField="ngModel">
            <div *ngIf="addressField?.invalid && (addressField?.dirty || addressField?.touched)" class="text-danger">
                <div *ngIf="addressField?.errors?.['required']">Address is required.</div>
                <div *ngIf="addressField?.errors?.['minlength']">The address must be at least 10 characters.</div>
            </div>
        </div>
        <div class="col-md-6">
            <label>Phone</label>
            <input [(ngModel)]="phone" name="dt" minlength="9" required pattern="[0-9]*" class="form-control" #phoneField="ngModel">
            <div *ngIf="phoneField?.invalid && (phoneField?.dirty || phoneField?.touched)" class="text-danger">
                <div *ngIf="phoneField?.errors?.['required']">Phone is required.</div>
                <div *ngIf="phoneField?.errors?.['minlength']">Phone must have at least 9 characters</div>
                <div *ngIf="phoneField?.errors?.['pattern']">Phone must be a number.</div>
            </div>
        </div>
    </div>
    <div class="mb-3">
        <button class="btn-border color-p text-18" type="submit" [disabled]="frm1.invalid"> Order </button>
    </div>
</form>
