<mat-card class="updateUser">
    <mat-card-header>
        <h2 class="bold text-color-p mb-1">List User</h2>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="registerform" (ngSubmit)="UpdateUser()">
            <div>
                <mat-form-field>
                    <mat-label>Role</mat-label>
                    <mat-select formControlName="role">
                        <mat-option value>Select Role</mat-option>
                        <mat-option *ngFor="let item of rolelist"
                            [value]="item.code">
                            {{item.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <section class="example-section">
                    <br>
                    <mat-checkbox formControlName="isactive"
                        class="example-margin">Is Active</mat-checkbox>
                </section>
            </div>
            <div mat-dialog-actions>
                <button type="submit" class="btn btn-info" mdbRipple
                    mat-raised-button cdkFocusInitial>Save</button>
                <button mat-raised-button color="warn"
                    mat-dialog-close>Close</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>